.todo-item p {
    color: black;
    font-weight: 600;
    flex: 1;
}

.todo-item {
    display: flex;
    align-items: center;
    width: 80%;
    background-color: bisque;
    margin: 6px 4px;
    height: 40px;
    border-radius: 12px;
}

.todoItem--done {
    text-decoration: line-through;
}