.App {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__container {
  height: 70%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff8474;
  border-radius: 12px;
  padding: 1rem;
} 

.app__todo__container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1120px) {
  .app__container {
    width: 50%;
  }
}

@media screen and (max-width: 620px) {
  .app__container {
    width: 380px;
  }
}